body {
    font-family: "Lato", sans-serif;
    background-color: white;
    margin-left: 50px;
    margin-right: 50px;
  }
  
  .sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #11C1A3;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
    'Helvetica Neue', sans-serif;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
    background: #00A9A7;
  }

  .sidenav span{
    padding: 6px 8px 6px 8px;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    display: block;
    text-align: center;
  }

  .sidenav span.here{
    color: white;
    background: #00A9A7;
  }

  .sidenav logo{
    height: 250px;
    width: 250px;
    text-decoration: none;
    color: #ffffff;
  }

  .sidenav span:hover{
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 160px;
    padding: 0px 10px;
  }

  .footer{
    height: 100%;
    margin-left: 160px;
    text-align: center;
    padding: 0.5rem 0;
    background: #B7B7B7;
  }

  img.menu-logo{
    width: auto;
    max-height: 135px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    /*.footer{margin-left: 160px;}*/
  }

/*Etiquetas de texto del index*/
h1{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
  'Helvetica Neue', sans-serif;
  font-size: 2em;
  font-weight: bold;
  color: black;
  margin-left: 270px;
}

h2{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
  'Helvetica Neue', sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  color:black;
  margin-left: 10px;
}

header{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
  'Helvetica Neue', sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: black;
  text-align: justify;
}

p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
  'Helvetica Neue', sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: black;
  margin-left: 25px;
  margin-right: 25px;
  text-align: justify;
}

ul{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
  'Helvetica Neue', sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: black;
}

footer p{
  font-size: 1.2em;
  font-weight: 600;
  color: #0C0C0E;
  margin-left: 400px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
  'Helvetica Neue', sans-serif;
}

main p{
  margin-left: 500px;
}

/*Etiquetas de texto del resto de documentos
h1{
  font-family: 'Courier New', Courier, monospace;
  font-size: 2em;
  font-weight: bold;
  color:white;
  margin-left: 270px;
}

h2{
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5em;
  font-weight: 700;
  color:white;
  margin-left: 10px;
}

h3{
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2em;
  font-weight: 400;
  color:white;
  margin-left: 10px;
}

p{
  font-family: 'Courier New', Courier, monospace;
  font-size: 1em;
  font-weight: 300;
  color: white;
  margin-left: 25px;
  margin-right: 25px;
  text-align: justify;
}

header{
  font-family: 'Courier New', Courier, monospace;
  font-size: 1em;
  font-weight: 300;
  color: white;
  text-align: justify;
}



code{
  color: gray;
  font-style: italic;
  background-color: #f0f0f0;
  border-width: .1em .1em .1em .8em;
  padding: .2em .6em;
  font-weight: bold;
}

*/

img{
  display: block;
  margin: auto;
}

h1.h1css{
  font-family: 'Courier New', Courier, monospace;
  font-size: 2em;
  font-weight: bold;
  color: black;
  margin-left: 450px;
}
